.leftnav{
    width: 6.5rem;
    height: 100vh;
    padding: 2.5rem 0;
    /* background-color: blue; */
    border-right: 2px solid #f3f3f3;
    position: relative;
}
.leftnav-2{
    width: 6.5rem;
    height: 100vh;
    padding: 2.5rem 0;
    /* background-color: blue; */
    border-right: 2px solid #f3f3f3;
    position: relative;
    display: hidden;
}
.leftnav-icon{
    margin: 0 auto;
}
.logo{
    width: 3.5rem;
    display: block;
    margin: 0 auto;
    /* border: 1px solid; */
    
}

.leftnav-menu{
    width: 100%;
    /* border: 1px solid; */
    margin-top: 3.2rem;
}

.leftnav-top-menus{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.leftnav-bottom-menus{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid; */
}
.leftnav-menuItem-1{
    margin: 0 auto;
    font-size: 3.5rem;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.leftnav-menuItem-2{
    margin: 0 auto;
    font-size: 3.5rem;
    display: block;
    color: gray;
    padding: 10px;
    border-radius: 5px;

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width:767px) {
    .leftnav{
        display: none;
    }
    .leftnav-2{
        display: block;
    }
}


