.home-section{
    padding: 2rem;
}
.home-nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* padding-right: 5rem; */
    padding-bottom:1rem;
}
.home-nav-start{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    /* border: 1px solid; */
}
.home-nav-items{
    list-style-type: none;
    display: flex;
    gap: 0.8rem;
    width: fit-content;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 2px;
}


.home-nav-item{
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    color: rgb(83, 83, 83);
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}

.home-nav-item:hover{
    background-image: linear-gradient(to right, #0076ec, #66b1fb);
    color: white;
    font-weight: bold;
}

.home-nav-item:active{
    background-image: linear-gradient(to right, #0076ec, #66b1fb);
    color: white;
    font-weight: bold;
    transform: scale(0.9);
}

.home-nav-active{
    background-image: linear-gradient(to right, #0076ec, #66b1fb);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}

.reload-icon{
    font-size: 1.5rem;
    color: rgb(76, 76, 76);
    cursor: pointer;
}

.download-btn{
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    border: none;
    background-color: #fff;
    border-radius: 50px;
    color: rgb(121, 121, 121);
    display: flex;
    width: fit-content;
    gap: 8px;
    box-shadow: 2px 2px 2px rgb(180, 180, 180);
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}

.download-btn:active{
    transform: scale(0.9);
}

.search-field{
    border: 1px solid rgb(217, 217, 217);
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.3rem;
    box-shadow: 1px 1px 5px rgb(229, 229, 229);
}

.search-field::placeholder{
    color: rgb(179, 179, 179);
}

.search-btn{
    font-size: 1.3rem;
    padding: 0.8rem 2rem;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    color: rgb(121, 121, 121);
    display: flex;
    width: fit-content;
    gap: 8px;
    box-shadow: 2px 2px 5px rgb(229, 229, 229);
    cursor: pointer;
    transition: all;
    transition-duration: 0.4s;
}

.search-btn:active{
    transform: scale(0.9);
}

.filter-icn{
    font-size: 2rem;
    color: rgb(110, 110, 110);
}

.home-content{
    position: relative;
}

.spinner{
    width: 2rem;
    display: block;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width: 767px) {
    .home-section{
        padding: 0;
    }
    .home-nav{
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 0px;
        /* border: 1px solid; */
    }
    .home-nav-start{
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .home-nav-items{
        gap: 0.5rem;
        border-radius: 4px;
        padding: 3px 1px;
    }
    
    
    .home-nav-item{
        font-size: 1rem;
        padding: 0.4rem 0.5rem;
        border-radius: 4px;
    }

    
    .home-nav-active{
        font-size: 1rem;
        padding: 0.4rem 0.5rem;
        border-radius: 4px;

    }
    
    .reload-icon{
        font-size: 1rem;
    }
    
    .download-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        gap: 4px;
        box-shadow: 2px 2px 2px rgb(180, 180, 180);
    }
    
    .download-btn:active{
        transform: scale(0.9);
    }
    
    .search-field{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    
    .search-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        gap: 8px;
        box-shadow: 2px 2px 5px rgb(229, 229, 229);
    }
    
    
    .filter-icn{
        font-size: 1.5rem;
        color: rgb(110, 110, 110);
    }
    
    .home-content{
        position: relative;
    }
    
    .spinner{
        width: 2rem;
        display: block;
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .home-section{
        padding: 0;
    }
    .home-nav{
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
        padding-top: 5px;
        padding-right: 0px;
        /* border: 1px solid; */
    }
    .home-nav-start{
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .home-nav-items{
        gap: 0.5rem;
        border-radius: 4px;
        padding: 3px 1px;
    }
    
    
    .home-nav-item{
        font-size: 1rem;
        padding: 0.4rem 0.5rem;
        border-radius: 4px;
    }

    
    .home-nav-active{
        font-size: 1rem;
        padding: 0.4rem 0.5rem;
        border-radius: 4px;

    }
    
    .reload-icon{
        font-size: 1rem;
    }
    
    .download-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        gap: 4px;
        box-shadow: 2px 2px 2px rgb(180, 180, 180);
    }
    
    .download-btn:active{
        transform: scale(0.9);
    }
    
    .search-field{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    
    .search-btn{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        gap: 8px;
        box-shadow: 2px 2px 5px rgb(229, 229, 229);
    }
    
    
    .filter-icn{
        font-size: 1.5rem;
        color: rgb(110, 110, 110);
    }

    .home-content{
        position: relative;
    }
    
    .spinner{
        width: 2rem;
        display: block;
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}