*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-primary{
  background-image: linear-gradient(to right, #0076ec, #66b1fb);
}
.color-primary{
  background-image: linear-gradient(to right, #0076ec, #90c4f8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.center-heading{
  text-align: center;
  margin: 5rem auto;
}